setuptools
plyfile
pytorch-lightning
opencv-python
imageio
ftfy
regex
tqdm
altair
streamlit
protobuf
timm
tensorboard
matplotlib
test-tube
wandb
torchmetrics
scikit-image
scikit-learn
pycocotools
onnxruntime 
onnx
kornia==0.7.0
gdown